<footer id="footer" class="mt-3">
     <div class="col-md-3 col-sm-12">
         <div class="ft-contact">
             <h4>Nha sach Dong Tay</h4>
             <div class="ft-contact-desc">
                 Giám đốc: Vu Ngoc Dang, Nguyen Tien Trieu
             </div>
             <div class="ft-contact-address">
                 Địa chỉ: 851/7B, Huynh Tan Phat, Quan 7, TP.Ho Chi Minh
             </div>
             <div class="ft-contact-tel">
                 Số điện thoại: <a href="tel:(+84) 386770297" class="text-decoration-none">(+84)386770297</a>
             </div>
             <div class="ft-contact-email">Email:
                 <a href="mailto:2151050081dang@ou.edu.vn " class="text-decoration-none">2151050081dang@ou.edu.vn </a>
             </div>
         </div>
     </div>
     <div class="ft-copyrights-wrapper">
        <div class="wrapper">
            <div class="inner">
                <div class="ft-copyrights text-center">
                    Copyrights © 2024 by <a href="javascript:;"
                                            class="text-decoration-none text-dark text-hover">Nha sach Dong Tay</a>.
                    <a href="javascript:;" class="text-decoration-none text-dark text-hover">by Ngoc Dang</a>
                </div>
            </div>
        </div>
    </div>
</footer>