<section class="vh-100 mt-4">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://i.pinimg.com/550x/9c/40/b3/9c40b3bf1e5d231c146205bc70534741.jpg" class="img-fluid" alt="Image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form action="" method="post">
                    <div class="form-ountline mb-4">
                        <input type="email" id="email" class="form-control form-control-lg" placeholder="Nhap email..." name="email">
                        <label class="form-label" for="email">Email</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="password" id="password" name="password" class="form-control form-control-lg" placeholder="Nhap mat khau...">
                        <label class="form-labal" for="password">Mat khau</label>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="form-check mb-0">
                            <input class="form-check-input me-2" type="checkbox" value="" id="formExample">
                            <label class="form-check-label" for="formExample">Luu thong tin dang nhap</label>
                        </div>
                        <a href="/quenmatkhau" class="text-body">Quen mat khau</a>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2px; padding-right: 2px;">Danh nhap</button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">Ban da co tai khoan chua??<a href="/dangky" class="link-danger">Dang ky</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>